body {
    font-family: 'Roboto','Open Sans', 'Gill Sans MT', Calibri, sans-serif;
    margin:0;
}

.header,
.footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
}

.awesome {
    background-color: #1F2937;
    display: flex;
    padding: 20px 100px;
    color: #FFF;
    align-items: center;
}

.bigimg {
    display: block;
    min-width: 300px;
    width: 400px;
    height: 160px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.signup {
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

button {
    display: block;
    align-self:first baseline;
    background-color: #3882F6;
    color: #FFF;
    width: 100px;
    height: 30px;
    margin: 10px 0px;
    border-radius: 8px;
    border: none;
    border-color: #060c14;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    padding: 100px;
    margin: auto;
    max-width: 800px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    display: flex;
    gap:20px;
    margin: 0px;
    padding: 0px;
}

.img {
    border: 2px solid #3882F6;
    border-radius: 10%;
    margin: 10px;
    max-width: 100%;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 100px;
    text-align: end;
    font-weight: bold;
}

h3 {
    text-align: left;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1F2937;
    max-width: 800px;
    margin: auto;
}

h5 {
    max-width: 800px;
    font-size: 20px;
    margin: 15px 0px 0px;
}

.callout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    padding: 20px 100px;
    background-color: #3882F6;
    color: #FFF;
    max-width: 800px;
}

.button2 {
    border: solid;
    border-width: 1px;
    margin: auto 20px;
}

.callout-text {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 100;
}

h4 {
    font-size: 18px;
    margin: 0px 0px 0px; 
}